[submodule "hugo-ficurinia"]
	path = hugo-ficurinia
	url = https://gitlab.com/gabmus/hugo-ficurinia
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
